.landing-img {
  max-height: 100vh;
  border-radius: 25px;
}
.land-text-container {
  text-align: center;
}
.ant-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-container {
  height: 100vh;
}
