.custom-card {
  border-radius: 15px;
}
.custom-card img {
  border-radius: 15px 15px 0 0;
}
@media (max-width: 480px) {
  .custom-card {
    width: 375px;
    height: auto;
    border-radius: 15px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .custom-card {
    width: 550px;
    height: auto;
  }
}
