.custom-card {
  border-radius: 15px;
}

img[alt~="Reconnect-App"] {
  height: 440px;
  width: auto;
  margin: auto;
}
@media (max-width: 480px) {
  .custom-card {
    width: 390px;
    height: auto;
    border-radius: 15px;
  }

  img[alt~="Reconnect-App"] {
    height: 500px;
    width: auto;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .custom-card {
    width: 550px;
    height: auto;
  }

  img[alt~="Reconnect-App"] {
    height: 500px;
    width: auto;
  }
}

.ant-card-body {
  color: rgb(133, 131, 131);
}

button[href="null"] {
  display: none;
}

.ant-card-actions {
  border-radius: 0 0 15px 15px;
}

.card-title {
  color: black;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(161, 138, 224);
  font-weight: bold;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: rgb(161, 138, 224);
  pointer-events: none;
}
