@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
}

.contact-me-page-container {
  height: 100vh;
}

.portfolio-page-container {
  height: 100vh;
}

.about-me-page-container {
  height: 100vh;
}
