.portfolio-page-container {
  padding: 5rem;
}

.portfolio-page-container h1 {
  text-align: center;
  font-size: 30px;
  margin: 2rem;
  text-decoration: underline;
}

.ant-btn-primary {
  background-color: rgb(161, 138, 224);
  border-color: rgb(161, 138, 224);
}

.ant-btn-primary:hover {
  background-color: rgb(120, 103, 167);
  border-color: rgb(120, 103, 167);
}
