.contact-me-page-container {
}

.contact-me-form-container {
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  min-width: 300px;
  margin: auto;
  background-color: #f9f1f0;
  margin-bottom: 1rem;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 25%;
  min-width: 100px;
  background-color: rgb(161, 138, 224);
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(120, 103, 167);
}

.contact-me-title-container span {
  font-size: 25px;
  margin: 0.2rem;
}

.contact-me-title {
  font-size: 30px;
  margin-bottom: 0;
}

.contact-me-social {
  width: 90%;
  height: 30%;
  min-height: 182px;
  background-color: #f9f1f0;
  border-radius: 15px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.contact-me-social p {
  padding: 20px 20px 0px 20px;
}

.twitter-icon {
  color: #00acee;
  height: 2rem;
  margin: 5px 5px 5px 5px;
  padding-left: 15px;
  transition: all 0.2s ease-in-out;
}
.twitter-icon:hover {
  transform: scale(1.15);
}

.linkedin-icon {
  color: #0072b1;
  height: 2rem;
  margin: 5px 5px 5px 5px;
  transition: all 0.2s ease-in-out;
}
.linkedin-icon:hover {
  transform: scale(1.15);
}
.github-icon {
  color: black;
  height: 2rem;
  margin: 5px 5px 5px 5px;
  transition: all 0.2s ease-in-out;
}

.github-icon:hover {
  transform: scale(1.15);
}
