.about-me-page-container {
  text-align: center;
}
.about-me-page-container h1 {
  font-size: 30px;
}
.about-me-page-container img {
  height: 80px;
  margin: 20px;
}

img[alt~="Cypress"] {
  object-fit: contain;
  width: 200px;
}

@media (max-width: 480px) {
  .about-me-page-container {
    height: auto;
  }

  .about-me-page-container img {
    height: 55px;
  }
}

.tech-skills {
  text-align: center;
  margin: 2rem;
}

.tech-skills h2 {
  text-align: center;
  font-size: 30px;
  margin: 2rem;
}

img[alt~="coder"] {
  width: 450px;
  height: auto;
}

.little-about-me-paragraph {
  text-align: left;
  margin: 2vw;
}
